1. Write a program that takes two numbers (a = 15 , b = 4) and prints their:


- Sum

- Difference

- Product

- Division

- Floor Division

- Modulus

2. Convert the following: 
(num1 = 10, num2 = 5.6, num3 = 4.43)

- Integer to float

- Float to integer

- Float to String

3. fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]

Print below using indexing:

- The first fruit

- The last fruit (negative indexing)

- The fourth fruit

4. List Slicing

numbers = [10, 20, 30, 40, 50]

Print:

- First three elements

- Last two elements

- Print all elements except the first one

- Print all elements except the last one

- Print the list in reverse using slicing

-  Print every second element

5. Add the number 10 to the end of the list using method.

nums = [1, 2, 3]

6. Insert the number 99 at index 1 using method.

nums = [1, 2, 3]

7.  Add the elements of another list [4, 5] to the original list using method

nums = [1, 2, 3]

8.  Sort the list in ascending order using method

nums = [4, 1, 3, 2]

9. A customer orders several food items. Add the items to a list and then:

order = ["burger", "fries", "coke"]

- Add a new item "ice cream" using append()

- Remove an item "biryani" using remove()

- Show the final order

10. Track passengers on a bus:

passengers = ["Ali", "Zara", "Ahmed"]


- Insert a new passenger "Sara" at position 2

- Remove passesnger who got off "Zara"

- Reverse the order to show who entered first

In [2]:
# Q1. Write a program that takes two numbers (a = 15 , b = 4) and prints their:
# Sum
# Difference
# Product
# Division
# Floor Division
# Modulus

a=15
b=4
print("The Sum of a and b is: ", a+b)
print("The Difference of a and b is: ", a-b)
print("The Product of a and b is: ", a*b)
print("The Division of a and b is: ", a/b)
print("The Floor Division of a and b is: ", a//b)
print("The Modulus of a and b is: ", a%b)

The Sum of a and b is:  19
The Difference of a and b is:  11
The Product of a and b is:  60
The Division of a and b is:  3.75
The Floor Division of a and b is:  3
The Modulus of a and b is:  3

In [23]:

# Q2. Convert the following: (num1 = 10, num2 = 5.6, num3 = 4.43)
# Integer to float
# Float to integer
# Float to String
# num1 = 10 
# num2 = 5.6 
# num3 = 4.43

#integer to float
print("***INTEGER TO FLOAT***")
num1_float = float(num1)
print(num1_float)


#float to integer
print("***FLOAT TO INTEGER***")
num2_int= int(num2)
print(num2_int)

num3_int= int(num3)
print(num3_int)

#float to string
print("***FLOAT TO STRING***")
num2_string= str(num2)
print(num2_string)

num3_string=str(num3)
print(num3_string)

***INTEGER TO FLOAT***
10.0
***FLOAT TO INTEGER***
5
4
***FLOAT TO STRING***
5.6
4.43

In [29]:
# Q3. fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]
# Print below using indexing:

# The first fruit

# The last fruit (negative indexing)

# The fourth fruit

fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]
print(fruits)
print("the first fruit in the list is:", fruits[0])
print("the last fruit in the list is:", fruits[-1])
print("the forth fruit in the list is:", fruits[3])

['apple', 'banana', 'cherry', 'coconut', 'pineapple', 'mango', 'orange']
the first fruit in the list is: apple
the last fruit in the list is: orange
the forth fruit in the list is: coconut

In [42]:
# Q4. List Slicing
# numbers = [10, 20, 30, 40, 50]

# Print:

# First three elements

# Last two elements

# Print all elements except the first one

# Print all elements except the last one

# Print the list in reverse using slicing

# Print every second element
numbers = [10, 20, 30, 40, 50]
print("the fist three numbers in the list are:", numbers[:3])
print("the last two numbers in the list are:",numbers[-2:])
print("all numbers except first one are:",numbers[1:])
print("the list in reverse using slicing:",numbers [::-1])

the fist three numbers in the list are: [10, 20, 30]
the last two numbers in the list are: [40, 50]
all numbers except first one are: [20, 30, 40, 50]
the list in reverse using slicing: [50, 40, 30, 20, 10]

In [45]:
# Q5. Add the number 10 to the end of the list using method.
# nums = [1, 2, 3]

nums = [1, 2, 3]
nums.append(10)
nums

[1, 2, 3, 10]

In [51]:
# Q6. Insert the number 99 at index 1 using method.
# nums = [1, 2, 3]

nums = [1, 2, 3]
nums.insert(1,99)
nums

[1, 99, 2, 3]

In [53]:
# Q7. Add the elements of another list [4, 5] to the original list using method
# nums = [1, 2, 3]

nums = [1, 2, 3]
nums2=[4,5]
nums.extend(nums2)
nums

[1, 2, 3, 4, 5]

In [55]:
# Q8.Sort the list in ascending order using method
# nums = [4, 1, 3, 2]

nums = [4,1,3,2]
nums.sort()
nums

[1, 2, 3, 4]

In [70]:
# Q9. A customer orders several food items. Add the items to a list and then:
# order = ["burger", "fries", "coke"]

# Add a new item "ice cream" using append()

# Remove an item "biryani" using remove()

# Show the final order
order = ["burger", "fries", "coke"]
print(order)
order.append("ice-cream")
order.append("biryani")
print("list with customer added items:",order)
order.remove("biryani")
print("final order:",order)

['burger', 'fries', 'coke']
list with customer added items: ['burger', 'fries', 'coke', 'ice-cream', 'biryani']
final order: ['burger', 'fries', 'coke', 'ice-cream']

In [83]:
# Q10. Track passengers on a bus:
# passengers = ["Ali", "Zara", "Ahmed"]

# Insert a new passenger "Sara" at position 2

# Remove passesnger who got off "Zara"

# Reverse the order to show who entered first

passengers = ["Ali", "Zara", "Ahmed"]
print("passenger's list", passengers)
passengers.insert(1, "Sara")
print ("list with a new passenger",passengers)
passengers.remove("Zara")
print("list after getting off a passenger", passengers)
passengers.reverse()
print("list with reversed order",passengers)

passenger's list ['Ali', 'Zara', 'Ahmed']
list with a new passenger ['Ali', 'Sara', 'Zara', 'Ahmed']
list after getting off a passenger ['Ali', 'Sara', 'Ahmed']
list with reversed order ['Ahmed', 'Sara', 'Ali']